<?xml version='1.0' encoding='utf-8'?>
<Context sessionCookiePath="/">

    <Manager className="de.javakaffee.web.msm.MemcachedBackupSessionManager"
             memcachedNodes="msm:11211"
             transcoderFactoryClass="com.ehanlin.msm.serializer.json.JSONTranscoderFactory" 
             sticky="false" 
             operationTimeout="10000" 
             memcachedProtocol="binary"
             enableStatistics="false" />

</Context>

